<!DOCTYPE html>
<html lang="es">
<ui-head></ui-head>

<body>
  <ui-navbar titulo="App Bares"></ui-navbar>


  <div class="container" style="max-width: 800px">
    <h2 class="card-title mt-5 text-primary">App Bares</h2>
  </div>

  <!------ Dependencias ------>
  <!-- JQuery libreria -->
  <script src="jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>